/* ./src/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'comic';
  src: url('/fonts/ComicSans.ttf') format('truetype');
}

body {
	margin: 0;
	background: linear-gradient(to right, blue, white, red);
	color: #000;
	font-family: 'DESPORM', sans-serif;
}

.hero,
.tokenomics,
.gameplay,
.about,
.community {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
