/* ./src/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'comic';
  src: url('/fonts/ComicSans.ttf') format('truetype');
}

body {
	margin: 0;
	background: linear-gradient(to right, blue, white, red);
	color: #000;
	font-family: 'DESPORM', sans-serif;
}

nav.sticky-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	position: sticky;
	top: 0;
	z-index: 1000;
	color: #000;
}

nav.sticky-header .logo {
	height: 50px;
}

nav.sticky-header ul {
	list-style: none;
	display: flex;
	gap: 1em;
}

nav.sticky-header li {
	margin: 0;
}

nav.sticky-header a {
	color: #000;
	text-decoration: none;
}

.hero,
.tokenomics,
.gameplay,
.about,
.community {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

ul {
	list-style: none;
	padding: 0;
}
